<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="INSTALLDIR" FileSource="$(var.TargetDir)">
			<Component Id="libexpat.dll" Guid="{28B2C906-9655-48F4-BFD4-9448FB504750}">
				<File Id="libexpat.dll" Name="libexpat.dll" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="libidn.dll" Guid="{68DC74AB-28C9-4C96-841A-BC6E3020243E}">
				<File Id="libidn.dll" Name="libidn.dll" KeyPath="yes" Vital="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="Libraries">
			<ComponentRef Id="libexpat.dll" />
			<ComponentRef Id="libidn.dll" />
		</ComponentGroup>
	</Fragment>
</Wix>